//vars
$cMain: #00AEEF
$cSecond: #FFD53E
$cRed: #E68E86
$cMainDarker: darken($cMain, 9)
$cGrey: #CFD1D6

$cText: #57585A

$containerWidth: 960px

$columns: 12

//mixins
=span($size)
	width: 100 / $columns * $size + %

//grid
.clearfix
	overflow: auto
	zoom: 1

.row
	&::after
		clear: both
		content: ''
		display: block

.col
	float: left

@for $i from 1 to $columns
	.col#{$i}
		+span($i)

.col6
	padding-left: 5px

	&:first-child
		padding-left: 0
		padding-right: 5px

%plane-count
	padding: 0 6px
	background-color: $cSecond
	color: #299FCF
	border-radius: 999px

	&::before
		content: ''
		display: inline-block
		background-image: url('./images/stops-num-icon.png')
		background-repeat: no-repeat
		width: 36px
		height: 19px
		vertical-align: middle
		padding-right: 2px


	span
		padding-right: 5px
//Main style
body
	font-family: 'Noto Sans', Arial, sans-serif
	padding: 0
	margin: 0
	color: $cText

*
	box-sizing: border-box

table
	border-spacing: 0

.tar
	text-align: right !important

.tac
	text-align: center !important

.block
	display: block

.smaller
	font-size: 14px

.bigger
	font-size: 20px

.light
	color: $cGrey

.grey-bg
	color: white
	font-weight: bold
	background-color: #A8A9AD
	padding: 10px 20px

.container
	max-width: $containerWidth
	margin: 0 auto
	width: 100%
	padding: 30px 2%

	&__email
		max-width: 650px

.fr
	float: right

header

	.logo

		img
			max-width: 100%

	.title
		padding: 0 20px

		h1
			margin: 0
			font-size: 26px
			border-bottom: 1px solid $cGrey
			display: inline-block
			padding-bottom: 10px

p

	&.warn
		padding: 10px
		border: 1px solid $cRed
		color: $cRed
		font-size: 18px

	&.underline
		text-decoration: underline

span.title
	font-size: 20px

.block
	margin-top: 30px

	&-container
		border: 4px solid $cGrey
		padding: 5px

	.spacer
		border-bottom: 1px solid $cGrey

	.inner
		padding: 0px 10px 10px

		.img-right
			float: right

	table
		width: 100%
		table-layout: fixed
		border-spacing: 0
		border: 1px solid $cGrey
		border-bottom: 0

		thead
			background-color: #F3F3F3
			font-weight: bold

		td
			font-size: 18px
			padding: 10px 20px!important

		td, th
			padding: 3px 20px
			border-left: 1px solid $cGrey
			border-bottom: 1px solid $cGrey

			&:first-child
				border-left: none
.checkin-title
	padding-bottom: 20px

.reservation
	margin-top: 42px

	&__number
		font-size: 26px
		font-weight: bold

.payment-status
	margin-top: 42px

.itinerary-field
	line-height: 20px

	img
		max-width: 100%

	&__title
		@extend .bigger

	&__number
		font-size: 26px
		font-weight: bold

.travel-info
	margin-bottom: 20px

	&__title
		font-weight: bold
		font-size: 26px

	&__table
		font-size: 20px
		padding-top: 10px

		&__top
			background-color: #F3F3F3
			border-top: 2px solid $cGrey
			border-bottom: 2px solid $cGrey

			.summary
				border-bottom: 1px solid $cGrey
				padding: 5px 10px

				.stops-num
					@extend %plane-count

			.details

				.flight-num
					position: absolute
					top: 50%
					transform: translateY(-50%)
					left: 20px


				.col
					border-left: 1px solid $cGrey
					padding: 10px

					&:first-child
						border-left: 0
						position: relative

						&::after
							content: ''
							display: block
							position: absolute
							right: -16px
							top: 50%
							transform: translateY(-50%)
							background-image: url('./images/travel-info-arrow.PNG')
							background-repeat: no-repeat
							width: 32px
							height: 19px

		table
			width: 100%

			th
				text-transform: uppercase
				font-size: 12px!important

			th, td
				text-align: left
				font-size: 14px
				padding: 5px 0
				border-bottom: 1px solid $cGrey

			td:first-child
				text-transform: uppercase

.receipt-header

	&__title
		font-size: 26px

	&__reservation
		margin-top: 20px

.payment-details

	&__title
		border-bottom: 1px solid $cGrey
		padding-bottom: 5px

	&__content
		padding: 10px 20px
		border-bottom: 1px solid $cGrey

		td
			text-align: right

			&:first-child
				text-align: left

	table
		width: 100%

	&__summary-title

		span
			margin-left: 20px

			&:first-child
				margin-left: 0

	&__summary
		padding: 10px 0px 10px 20px

	&__total
		padding: 10px 20px

	&__confirmation
		th
			text-transform: uppercase

		th, td
			border-bottom: 1px solid $cGrey
		td
			padding: 10px 20px
		th
			padding: 10px 20px 0

footer
	margin-bottom: 40px


.email
	a
		color: $cMain
		text-decoration: none

		&:hover
			text-decoration: underline

	h1
		color: $cMain
		font-size: 22px

	&__info
		padding: 10px

	&__info-msg
		display: inline-block
		padding-bottom: 10px

	header
		padding: 30px
		background: url('./images/email-bg.png')
		background-repeat: no-repeat
		background-position: center
		height: 72px
		border-left: 1px solid #FFF4A4
		border-right: 1px solid #FFF4A4

		img
			max-width: 25%

	&__reservation
		background-color: lighten($cGrey, 10)
		padding: 10px

		&__flight
			color: black
			margin-bottom: 30px

			span:first-child
				font-size: 22px

		&__title, &__status
			color: darken($cGrey, 30)
			border-bottom: 1px solid $cGrey
			margin-bottom: 10px

		&__summary
			color: black

	.button
		display: inline-block

		&__big
			padding: 20px 40px
			background-color: $cMain
			color: white
			text-decoration: none
			margin: 5px 0 40px

			&:hover
				background-color: darken($cMain, 10)

	.email-itinerary
		border: 3px solid $cGrey
		padding: 10px

		h2
			margin: 0

		.plane-count
			@extend %plane-count

		&__top
			background-color: #F3F3F3
			border-top: 1px solid $cGrey
			margin-top: 10px

			.row
				border-bottom: 1px solid $cGrey

			.col
				padding: 10px

			table
				width: 100%

			td
				padding: 5px

				&.middle
					position: relative

					&::after
						content: ''
						display: block
						position: absolute
						right: -8px
						top: 50%
						transform: translateY(-50%)
						background-image: url('./images/travel-info-arrow.png')
						width: 38px
						height: 14px
						background-repeat: no-repeat

			.time
				color: darken($cGrey, 30)

			span
				vertical-align: middle

				&.time
					display: block
		&__content

			table
				width: 100%
				@extend .smaller

				thead
					text-align: left

					th
						font-weight: normal
						text-transform: uppercase
						font-size: 12px
						color: darken($cGrey, 30)
				
				th, td
					border-bottom: 1px solid $cGrey
					padding: 5px

				td:first-child
					font-weight: bold
					text-transform: uppercase
	&__offer
		text-align: center

		img
			max-width: 100%
	hr
		border-top: 0
		border-bottom: 1px solid $cGrey
		margin: 10px 0

	footer
		font-size: 11px