<div class="container">
<header>
		<div class="row">
			<div class="col col2 logo">
				<img src="./images/logo.png" alt="logo">
			</div>
			<div class="col col8 title tac">
				<h1>@@title</h1>
			</div>
		</div>
</header>
