@@include('./partials/head.html')
<div class="container container__email email">
	<div class="tac smaller email__info">
		<a href="#">Trouble vieweing this email and attached ininerary(PDF)? Learn more</a>
	</div>
	<header class="tac">
	</header>
	<h1>Thank you for choosing Vanilla Air, Value Allience.</h1>
	<span class="email__info-msg">Your booking has been confirmed</span>
	<div class="email__reservation">
		<div class="email__reservation__title smaller">
			Reservation number
		</div>
		<div class="email__reservation__info">
			<div class="email__reservation__flight">
				<span>ZRL98J</span><span class="smaller"> (Vanilla Air: PL4229 / Scoot: K2M72F)</span>
			</div>
			<div class="email__reservation__status">
				<span class="smaller">Payment Status - </span><strong>APPROVED</strong>
			</div>
		</div>
		<div class="email__reservation__summary smaller">
			Credit Card: 99,000 JPY
		</div>
	</div>
	<p class="smaller">
		Please review the attached PDPF files about your itinerary and payment details. Please print the attached PDF files if you bring an itinerary. (We recommended)
	</p>
	<a href="#" class="button button__big smaller">
		View My Booking
	</a>
	<div class="email-itinerary">
		<h2>Your Itinerary</h2>
		<div class="email-itinerary__single">
			<div class="email-itinerary__top">
				<div class="row">
					<div class="col col2">
						<span class="plane-count"><span>1</span></span>
					</div>
					<div class="col col5">
						2015/07/11 (Sat)
					</div>
					<div class="col col5 tar">
						Vanilla Air: Simple
					</div>
				</div>
				<div class="row">
					<table>
						<col width="16.6666%">
						<col width="11.6666%">
						<col width="30%">
						<col width="11.6666%">
						<col width="30%">
						<tr>
							<td>
								<span>JW101</span>
							</td>
							<td>
								<span>NRT</span>
							</td>
							<td class="middle">
								<div>
									Tokyo Narita
								</div>
								<div class="time">
									16:20
								</div>
							</td>
							<td>
								<span>TPE</span>
							</td>
							<td>
								<div>
									Taipei Taoyuan
								</div>
								<div class="time">
									18:05
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="email-itinerary__content">
				<table>
					<thead>
					<tr>
						<th>Passenger</th>
						<th>Seat</th>
						<th>Baggage / Meal</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1.Taro Yamadaaaa (Adult)</td>
						<td>1A</td>
						<td>~20kg</td>
					</tr>
					<tr>
						<td>2.Taro Yamadaaaa (Adult)</td>
						<td>1B</td>
						<td>~20kg</td>
					</tr>
					<tr>
						<td>3.Taro Yamadaaaa (Adult)</td>
						<td>1C</td>
						<td>~20kg</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="email-itinerary__single">
			<div class="email-itinerary__top">
				<div class="row">
					<div class="col col2">
						<span class="plane-count"><span>1</span></span>
					</div>
					<div class="col col5">
						2015/07/11 (Sat)
					</div>
					<div class="col col5 tar">
						Vanilla Air: Simple
					</div>
				</div>
				<div class="row">
					<table>
						<col width="16.6666%">
						<col width="11.6666%">
						<col width="30%">
						<col width="11.6666%">
						<col width="30%">
						<tr>
							<td>
								<span>JW101</span>
							</td>
							<td>
								<span>NRT</span>
							</td>
							<td class="middle">
								<div>
									Tokyo Narita
								</div>
								<div class="time">
									16:20
								</div>
							</td>
							<td>
								<span>TPE</span>
							</td>
							<td>
								<div>
									Taipei Taoyuan
								</div>
								<div class="time">
									18:05
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="email-itinerary__content">
				<table>
					<thead>
					<tr>
						<th>Passenger</th>
						<th>Seat</th>
						<th>Baggage / Meal</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1.Taro Yamadaaaa (Adult)</td>
						<td>1A</td>
						<td>~20kg</td>
					</tr>
					<tr>
						<td>2.Taro Yamadaaaa (Adult)</td>
						<td>1B</td>
						<td>~20kg</td>
					</tr>
					<tr>
						<td>3.Taro Yamadaaaa (Adult)</td>
						<td>1C</td>
						<td>~20kg</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="email__offers">
		<p class="bigger">
			For your fun travel, we offer specials to you!
		</p>
		<div class="row">
			<div class="email__offer col col6">
				<img src="./images/offer.png" alt="">
			</div>
			<div class="email__offer col col6">
				<img src="./images/offer.png" alt="">
			</div>
		</div>
	</div>
	<hr>
	<footer class="tar">
		<a href="#" class="smaller">Contact Us/FAQ</a>
		<span>Copyright © Vanilla Air, Value Allience</span>
	</footer>
</div>
</body>
</html>