@@include('./partials/head.html')
@@include('./partials/header.html', {
"title": "We look forward to seeing you on board."
})

<p>
	Thank you for choosing Vanilla Air, Value Alliance. For enjoying your trip, please read the following information.
</p>
<p class="warn tac">
	Your booking details (itinerary) and payment info can be found on the following pages
</p>

<p class="underline">
	All customer must exit immigration and pick up their baggage and check in again within the booking
	confirmation/itinerary of Vanilla Air ↔ Scoot connecting flights
</p>

<div class="row block">
		<span class="title">
			For Vanilla Air flights
		</span>
	<div class="block-container">
		<div class="spacer">
			<span class="title">
				Check-in
			</span>
		</div>
		<div class="inner">
			<p>Please have your reservation number and photo I.D.(domestic flights) / pass port (international flights) ready
				for your check in. We recommend you to print the itinerary and bring it with you.
				Please check and have the necessary travel documents prior to your departure date by your own
				responsibility. Validity period of passport, visa or any necessary documents for the immigration is required
				based on your nationality and itinerary. </p>
			<table>
				<thead>
				<th>Japan domestic flights</th>
				<th>International flights</th>
				</thead>
				<tbody>
				<tr>
					<td>
						<strong>90-30min.</strong> prior to the scheduled departure*1
					</td>
					<td>
						<strong>120-50min.</strong> prior to the scheduled departure
					</td>
				</tr>
				<tr>
					<td colspan="2" class="tac">
						<span class="smaller">Please be at the boarding gate 20min. before scheduled departure or will not be able to board your booked flight.</span>
					</td>
				</tr>
				</tbody>
			</table>
			<span class="smaller">
				1…Web Check-in is available from 48 hours to 2hours before scheduled departure.
			</span>
		</div>
		<div class="spacer">
			<span class="title">
				Baggage
			</span>
		</div>
		<div class="inner">
			<p>
				<img src="./images/baggage.png" alt="" class="img-right">
				We only allow 1 piece of cabin baggage which
				must be within the size (Each dimension must be
				within 56cm×36cm×23cm including handles,
				wheels, locks, etc.) and 1 personal belonging.
				Total weight of the 2 pieces must be10 kg or less.
				You cannot carry-on a baggage exceeding each
				dimension above.
			</p>
			<p>
				Your baggage will be screened and examined with X-ray after check-in. We will announce you to return to our
				check-in counter if any items disallowed by law are found in your checked-in baggage. In case of being unable
				to contact the passenger after the announcement, security staff may remove the items without your
				permission.<br/>
				Please note that we are not responsible for any incidental damage to your baggage, including the lock, during
				the baggage examination.
			</p>
		</div>
	</div>
</div>
<div class="row block">
		<span class="title">
			For Scoot flights
		</span>
	<div class="block-container">
		<div class="inner">
			<ul>
				<li>Cancellations, refunds and credits are not permitted;</li>
				<li>Changes are not permitted;</li>
				<li>Cabin baggage allowance is 7kg (plus 3kg laptop allowance) in Economy;</li>
				<li>Checked baggage allowance is 20kg in Economy (for FlyBag and FlyBagEat fares only);</li>
				<li>Fares are not eligible for KrisFlyer mileage accrual;</li>
				<li>Scoot Conditions of Carriage apply.</li>
			</ul>
			
		</div>
	</div>
</div>

@@include('./partials/footer.html')


