@@include('./partials/head.html')
@@include('./partials/header.html', {
"title": "Booking Confirmation (Itinerary)"
})

<p class="grey-bg tac smaller">
	THIS IS NOT A BOARDING PASS. We recommend you to print this itinerary and bring it with you.
</p>
<div class="row">
	<div class="col col5">
		<div class="reservation">
			<div class="reservation__title">
				Reservation Number
			</div>
			<div class="reservation__number">
				ZRL98J
			</div>
		</div>
		<div class="payment-status">
			<span>Payment Status - </span><strong>APPROVED</strong><span> Credit Card</span>
		</div>
	</div>
	<div class="col col7">
		<div class="checkin-title">
			For Check-in
		</div>
		<div class="itinerary-field">
			<div class="col col3">
				<div class="itinerary-field__title">Vanilla Air</div>
				<div class="itinerary-field__number">PL4229</div>
			</div>
			<div class="col col9 tar">
				<img src="./images/vanilla-code.png" alt="">
			</div>
		</div>
		<div class="itinerary-field">
			<div class="col col3">
				<div class="itinerary-field__title">Scoot</div>
				<div class="itinerary-field__number">K2M72F</div>
			</div>
			<div class="col col9 tar">
				<img src="./images/scoot-code.png" alt="">
			</div>
		</div>
	</div>
</div>

<span class="travel-info__title">
		Travel Information
	</span>
<div class="travel-info">
	<div class="travel-info__table">
		<div class="travel-info__table__top">
			<div class="row summary">
				<div class="col col6">
					<span class="stops-num"><span>2</span></span>
					<span>2015/07/11(Sat)</span>
				</div>
				<div class="col col6 tar">
					Scoot: Fly
				</div>
			</div>
			<div class="row details tac">
				<div class="col col6">
					<div class="flight-num">
						JW101
					</div>
					<div class="airport">
						<strong>TPE</strong>
						<span>Taipei Taoyuan</span>
					</div>
					<div class="time">
						10:20
					</div>
				</div>
				<div class="col col6">
					<div class="airport">
						<strong>SIN</strong>
						<span>Singapore</span>
					</div>
					<div class="time">
						10:20
					</div>
				</div>
			</div>
			<table>


			</table>
		</div>
		<table>
			<col width="45%">
			<col width="10%">
			<col width="45%">
			<thead>
			<tr>
				<th>Passenger</th>
				<th>Seat</th>
				<th>Baggage / Meal</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>1. MR. Taro Yamada (Adult)</td>
				<td>1A</td>
				<td>~20kg</td>
			</tr>
			<tr>
				<td>2. MR. Taro Yamada (Adult)</td>
				<td>2D</td>
				<td>~30kg</td>
			</tr>
			<tr>
				<td>3. MR. Taro Yamada (Adult)</td>
				<td>--</td>
				<td>--</td>
			</tr>
			</tbody>
		</table>


	</div>
</div>
<div class="travel-info">
	<div class="travel-info__table">
		<div class="travel-info__table__top">
			<div class="row summary">
				<div class="col col6">
					<span class="stops-num"><span>2</span></span>
					<span>2015/07/11(Sat)</span>
				</div>
				<div class="col col6 tar">
					Scoot: Fly
				</div>
			</div>
			<div class="row details tac">
				<div class="col col6">
					<div class="flight-num">
						JW101
					</div>
					<div class="airport">
						<strong>TPE</strong>
						<span>Taipei Taoyuan</span>
					</div>
					<div class="time">
						10:20
					</div>
				</div>
				<div class="col col6">
					<div class="airport">
						<strong>SIN</strong>
						<span>Singapore</span>
					</div>
					<div class="time">
						10:20
					</div>
				</div>
			</div>
			<table>


			</table>
		</div>
		<table>
			<col width="45%">
			<col width="10%">
			<col width="45%">
			<thead>
			<tr>
				<th>Passenger</th>
				<th>Seat</th>
				<th>Baggage / Meal</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>1. MR. Taro Yamada (Adult)</td>
				<td>1A</td>
				<td>~20kg</td>
			</tr>
			<tr>
				<td>2. MR. Taro Yamada (Adult)</td>
				<td>2D</td>
				<td>~30kg</td>
			</tr>
			<tr>
				<td>3. MR. Taro Yamada (Adult)</td>
				<td>--</td>
				<td>--</td>
			</tr>
			</tbody>
		</table>


	</div>
</div>
@@include('./partials/footer.html')


