@@include('./partials/head.html')
@@include('./partials/header.html', {
"title": "Payment Details (Receipt)"
})

<div class="receipt-header tar bigger">
	<div class="receipt-header__title">
		Vanilla Air Inc.
	</div>
	<span>Issued on 2015/08/14</span>
	<div class="receipt-header__reservation">
		<div class="num">
			<span>Reservation number: </span><strong>AAA123</strong>
		</div>
		<div class="separated">
			<span>(Vanilla Air: PL4229 / Scoot: K2M72F)</span>
		</div>
	</div>
</div>

<p>
	Thank you for your choosing Vanilla Air Value Alliance. Please find below your purchase receipt.
</p>

<div class="payment-details">
	<div class="payment-details__title bigger">
		<strong>Payment Details</strong>
	</div>
	<div class="payment-details__content">
		<div class="payment-details__summary-title">
			<span><strong>FARES</strong></span>
			<span>ADULT x 1</span>
			<span>CHILD x 0</span>
			<span>INFANT x 0</span>
			<span class="fr">18,667 JPY</span>
		</div>
		<div class="payment-details__summary">
			<table>
				<tr>
					<td>
						Flight 1 : Simple
					</td>
				</tr>
				<tr>
					<td>
						Flight 2 : Fly
					</td>
				</tr>
				<tr>
					<td>
						Flight 3 : Simple
					</td>
				</tr>
				<tr>
					<td>
						Flight 4 : Fly
					</td>
				</tr>
			</table>
		</div>

	</div>
	<div class="payment-details__content">
		<div class="payment-details__summary-title">
			<strong>TAXES</strong>
		</div>
		<div class="payment-details__summary">
			<table>
				<tr>
					<td>
						Taiwanese Airport Service Tax x 1
					</td>
					<td>
						1,615 JPY
					</td>
				</tr>
				<tr>
					<td>
						Passenger Security Service Charge x 1
					</td>
					<td>
						520 JPY
					</td>
				</tr>
				<tr>
					<td>
						Passenger Service facilities Charge x 1
					</td>
					<td>
						1,020 JPY
					</td>
				</tr>
				<tr>
					<td>
						Processing Fee x 1
					</td>
					<td>
						600 JPY
					</td>
				</tr>
			</table>
		</div>

	</div>
	<div class="payment-details__content">
		<div class="payment-details__summary-title">
			<strong>SERVICES & FEES</strong>
		</div>
		<div class="payment-details__summary">
			<table>
				<tr>
					<td>
						Meal x 1
					</td>
					<td>
						1,266 JPY
					</td>
				</tr>
				<tr>
					<td>
						Checked Baggage Fee (Vanilla Air) x 1
					</td>
					<td>
						0 JPY
					</td>
				</tr>
				<tr>
					<td>
						Checked Baggage Fee (Scoot) x 1
					</td>
					<td>
						3,000 JPY
					</td>
				</tr>
				<tr>
					<td>
						Seat Assignment Fee x1
					</td>
					<td>
						510 JPY
					</td>
				</tr>
				<tr>
					<td>
						Connection Fee x 1
					</td>
					<td>
						4,850 JPY
					</td>
				</tr>
			</table>
		</div>

	</div>
	<div class="tar bigger payment-details__total">
		<strong>Total 99,000 JPY</strong>
	</div>
</div>
<div class="payment-details">
	<div class="payment-details__title-confirmation bigger">
		<strong>Confirmation</strong>
	</div>
	<table class="payment-details__confirmation tac">
		<col width="20%">
		<col width="20%">
		<col width="20%">
		<col width="40%">
		<thead class="smaller">
		<tr>
			<th>Date</th>
			<th>Status</th>
			<th>Payment Method</th>
			<th class="tar">Amount</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>2016/10/17</td>
			<td>Successful</td>
			<td>Credit Card</td>
			<td class="tar">99,000 JPY</td>
		</tr>
		</tbody>
	</table>
</div>
<p class="smaller">
	<strong><i>This is an electronic display of receipt data.</i></strong>
</p>

@@include('./partials/footer.html')


